{% extends "layouts/master.twig" %}

{% block content %}
<div class="container">
    <h1>{{ trans("pages.loyalty.title") }}</h1>
    <p>{{ trans("pages.loyalty.description") }}</p>
</div>
{% endblock %}
